section {
    margin: 0;
    padding: 0;
}

h1, h2, h3, ul, div, li {
    margin: 0;
    padding: 0;
}

html {
    margin: 0px 10px;
}

body {
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}



.content {
    top: 0;
    bottom: 0;
    overflow: auto;

}

#title h2 {
    text-align: center;
}

#main {
    bottom: 0;
}

.nav-footer {
    position: relative;
}

#title h2:hover {
    transition: color 0.2s ease;
    color: blue;
}

div {

}

@-webkit-keyframes color_change {
    0% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}

p {
    border: #151515 3px solid;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

.sub-page {
    background-color: grey;
}

.cern-maps {
    width: 100px;
}

.CERN-map {
    float: left;
}

.CERN-map2 {
    overflow: hidden;
    width: 1238px;
    height: 700px;

}

.CERN-map2-map {
    clip: rect(0px, 60px, 200px, 0px);
}

.test {
    border: 2px solid #D5CC5A;
    overflow: hidden;
    margin: 15px auto;
    max-width: 575px;
}

.test-test {
    border: 0px none;
    margin-left: -36px;
    height: 812px;
    margin-top: -486px;
    width: 650px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}