section {
    margin: 0;
    padding: 0;
}

h1, h2, h3, ul, div, li{
    margin: 0;
    padding: 0;
}

html {
    margin: 0px 10px;
}

body {
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: black;
    margin: 20px 10px;
    border-radius: 20px;
}

li {
    float: left;
    padding: 0;

}

li a:hover {
    transition: background-color 0.2s ease;
    background-color: green;
}


li a {
    padding: 20px 30px;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
}

.content {
    top: 0;
    bottom: 0;
    overflow: auto;

}

#title h2{
    text-align: center;
}

#main {
    bottom: 0;
}

.nav-footer {
    position: relative;
}

#title h2:hover {
transition: color 0.2s ease;
    color: blue;
}

div {

}

@-webkit-keyframes color_change {
0% { background-color: blue; }
100% { background-color: red; }
}


p {
    border: #151515 3px solid;
    padding: 10px 10px 10px 10px;
    text-align: left;
}
